@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* variables */
:root {
    --primary: #aa0601;
    --secondary: #650300;
    --bg-light: #fbf2f2;
}

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* base */
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.5s;
}
a:hover{
    opacity: 0.7;
}
body{
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.5;
}
button{
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.5s;
}
button:hover{
    opacity: 0.7;
}
/* layout */
.header{
    color: white;
    padding: 16px 0;
    width: 100%;
}
.header .logo{
    position: relative;
    width: 80px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    background-image: url("./img/logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.header .logo a{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-wrapper{
    justify-content: space-between;
    align-items: center;
}
.header .nav{
    font-size: 20px;
}
.header .nav-item a{
    padding: 8px 32px;
}
@media (max-width: 767px){
    .header {
      padding: 0;
    }
  
    .header .logo {
      margin: 16px 12px;
    }
  
    .header-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header .nav {
      flex-wrap: wrap;
      width: 100%;
    }
  
    .header .nav-item {
      text-align: center;
      padding: 0;
      width: 50%;
    }
  
    .header .nav-item a {
      width: 100%;
      padding: 12px 0;
      border: solid 1px white;
    }
}
.footer{
    padding-top: 48px;
    padding-bottom: 32px;
    color: white;
}
.footer-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    margin-bottom: 32px;
}
.footer .nav{
    margin-bottom: 26px;
}
.footer .nav-item a{
    padding: 12px 32px;
}
.footer .social-list img{
    width: 48px;
}
.footer .social-list a{
    padding: 0 16px;
}
.footer .contact-list{
    font-size: 36px;
    font-family: "Noto Sans TC", sans-serif;
}
.footer .contact-list .material-symbols-outlined{
    font-size: 48px;
    vertical-align: middle;
    margin-right: 20px;
}
.footer .contact-list li:not(last-child){
    margin-bottom: 8px;
}
.footer .copyright{
    justify-content: space-between;
}
.footer .copyright-text{
    margin-bottom: 4px;
}
.footer .privacy-list a{
    padding: 0 24px;
}
@media (max-width: 992px){
    .footer .social-list a{
        padding: 0 8px;
    }
}
@media (max-width: 767px){
    .footer .nav{
        display: none;
    }
    .footer .contact-list{
        font-size: 16px;
    }
    .footer .social-list img{
        width: 24px;
    }
    .footer .contact-list .material-symbols-outlined{
        font-size: 24px;
        margin-right: 8px;
    }
    .footer .copyright{
        flex-direction: column;
    }
    .footer .privacy-list{
        flex-direction: column;
    }
    .footer .privacy-list a{
        padding: 4px 0;
    }
}
/*pages*/
.banner{
    color: var(--secondary);
    background-image: url("./img/home-header.png");
    background-size: cover;
    height: calc(100vh - 80px);
}
.banner-wrapper{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
}
.banner-subtitle{
    font-size: 36px;
}
.banner-link{
    padding: 6px 12px;
    color: white;
    background: var(--primary);
    font-size: 20px;
}
@media (max-width: 992px){
    .banner{
        background-image: url("./img/home-header-sm.png");
    }
}
@media (max-width: 767px){
    .banner-title{
        font-size: 24px;
    }
    .banner-subtitle{
        font-size: 16px;
    }
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.feature-list .card{
    width: calc(25% - 18px);
}
@media (max-width: 992px){
    .feature-list .card{
        width: calc(50% - 12px);
    }
}
@media (max-width: 576px){
    .feature-list{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
    .feature-list .card{
        width: 100%;
    }
}
.feature-list .card-header{
    margin-bottom: 8px;
}
.feature-list .card-title{
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary);
}
.feature-list .card-img{
    width: 100px;
    margin-bottom: 16px;
}

.classic-list{
    display: flex;
    gap: 24px;
}
.classic-list .card-title{
    font-size: 48px;
    color: var(--primary);
    font-style: italic;
    font-weight: 900;
    text-align: center;
}
@media (max-width: 992px){
    .classic-list{
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .classic-list .card{
        max-width: 336px;
    }
}
@media (max-width: 576px){
    .classic-list .card{
        max-width: 348px;
    }
}

.cobrand{
    background-image: url("./img/index-bg.png");
    background-size: cover;
}
.cobrand-list{
    display: flex;
}
.cobrand-list .card{
    width: 50%;
}
.cobrand-list .card-title{
    font-size: 48px;
    font-style: italic;
    color: var(--primary);
    font-weight: 900;
    text-align: center;
    background: white;
}
.cobrand-list .card-img{
    height: 240px;
    background-position: center;
}  
.cobrand-list .card-img-double{
    background-image: url("./img/home-section4-1.png");
    background-size: cover;
}
.cobrand-list .card-img-youth{
    background-image: url("./img/home-section4-2.png");
    background-size: cover;
}
@media (max-width: 992px){
    .cobrand-list{
        flex-wrap: wrap;
    }
    .cobrand-list .card{
        width: 100%;
    }
    .cobrand-list .card:not(last-child){
        margin-top: 24px;
    }
}
@media (max-width: 576px){
    .cobrand-list .card-img-double{
        background-image: url("./img/home-section4-1-sm.png");
        background-size: cover;
    }
    .cobrand-list .card-img-youth{
        background-image: url("./img/home-section4-2-sm.png");
        background-size: cover;
    }
}

.recommend-list{
    display: flex;
    gap: 24px;
}
.recommend-list .card{
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.recommend-list .card-body{
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.recommend-list .card-desc{
    margin-bottom: 72px;
}
.recommend-list .card-time{
    color: #707070;
    font-size: 14px;
    margin-top: auto;
}
@media (max-width: 992px){
    .recommend .recommend-list{
        flex-wrap: wrap;
    }
    .recommend .recommend-list .card{
        width: calc(50% - 12px);
    }
}
@media (max-width: 576px){
    .recommend .recommend-list{
        flex-wrap: wrap;
    }
    .recommend .recommend-list .card{
        width: 100%;
    }
}

.contact-form{
    max-width: 636px;
    margin: 0 auto;
}
@media (max-width: 992px){
    .contact-form{
        max-width: 576px;
    }
}
.contact-desc{
    margin-bottom: 24px;
    font-size: 20px;
}
.contact-form-input{
    display: block;
    width: 100%;
    background: var(--bg-light);
    outline: 0;
    border: 1px solid black;
    padding: 6px 12px;
    font-size: 16px;
}
.contact-form-input::placeholder{
    color: rgba(0, 0, 0, 0.2);
}
.contact-form-label{
    display: block;
    margin-bottom: 8px;
}
.contact-list textarea{
    resize: none;
}
.contact-list li:not(last-child){
    margin-bottom: 16px;
}
.contact-list .agree-item{
    margin-bottom: 48px;
}
.contact-list .agree-item input{
    display: none;
}
.contact-list .agree-item label{
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
}
.contact-list .agree-item label::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    border: 2px solid black;
    background: var(--bg-light);
    border-radius: 2px;
}
.contact-list .agree-item label::after{
    content: "";
    display: none;
    position: absolute;
    left: 5px;
    top: 3px;
    width: 6px;
    height: 12px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
}
.contact-list .agree-item input:checked ~ label::before{
    background: #000;
}
.contact-list .agree-item input:checked ~ label::after{
    display: block;
}
.contact-form-btn{
    display: block;
    width: 100%;
    max-width: 416px;
    background: var(--primary);
    color: white;
    border: none;
    padding: 16px 0;
    margin: 0 auto;
}

.index-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
    color: var(--secondary);
}
.content-padding{
    padding: 80px 0;
}
@media (max-width: 576px){
    .index-title{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .content-padding{
        padding: 40px 0;
    }
}
/* utilities */
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}
@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 372px;
    }
}
.container-md-fluid{
    max-width: 1320px;
    padding: 0px 12px;
    margin: 0 auto;
}
.container-sm-full {
    max-width: 1320px;
    padding: 0px 12px;
    margin: 0 auto;
}
@media (max-width: 767px){
    .container-sm-full {
      padding: 0;
    }
}

.text-center{
    text-align: center;
}
.bg-light{
    background: var(--bg-light);
}
.bg-dark{
    background: var(--primary);
}
.d-flex{
    display: flex;
}
.pr-0{
    padding-right: 0 !important;
}
.pl-0{
    padding-left: 0 !important;
}